
@{
    ViewBag.Title = "exporta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>exporta</h2>

<div class="row">
    <div class="col-md-12">
        @Url.Action("Exporta", "Proyecto")
        <button type="submit" class="pull-right btn btn-secondary">Exportar</button>
    </div>
</div>

