
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div class="bs-container" style="min-height:960px;">
    <section class="content-header">
        <h2>
            Proyectos
        <small>(Dashboard)</small>
        </h2>

        <ol class="breadcrumb">
            <li><a href="#"> <i class="fa fa-dashboard"></i>Inicio</a></li>
            <li><a href="#">Proyectos</a></li>
           <li class="active">Estadisticas</li>
        </ol>
    </section>

   <div class="row">
       <section>
           <h1>Grafica de Proyectos Por Giro Empresarial</h1>
       </section>
       <div class="form-group">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <canvas id="ChartGiro" style="position: relative; height:80vh; width:150vw"></canvas>
           </div>
       </div>
   </div>

</div>

