
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista de Proyectos</h2>

<div class="table-responsive">
    <br />
    <table id="TablaProyectos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Giro</th>
                <th>Descripcion</th>
                <th>Fase</th>
                <th>Contituida Legal</th>
                <th>Observaciones</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/js/proyectos/datatable-proyectos.js"></script>
    



