.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://source.unsplash.com/NHGkfa-rDPw/1920x2560');
    background-size: cover;
    background-position: center center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.ps-md-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.d-none {
    display: none !important;
}

.d-md-flex {
    display: flex;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mt-5 {
    margin-top: 3rem;
}

@media(min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}

@media(max-width: 768px) {
    /*.form-col {
        width: 100%;
    }*/

    /*.align-items-center {
        align-items: start;
    }*/
}

@media(max-width: 992px) {
    .form-col {
        width: 100%;
    }
}

@media(min-width: 1200px) {
    .col-lg-7 {
        flex: 0 0 auto;
    }
}

@media(min-width: 992px) {
    .col-md-10 {
        flex: 0 0 auto;
    }
}
