
@{
    ViewBag.Title = "Carrusel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Incubadora</h1>
</div>

<!--Carusel-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!--Indicadores-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!--Wrapers-->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Img/escudoHidalgo.png" width="600" height="100" />
            
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <center>
                <img src="~/Img/icono.png" width="400" height="500" />
               
            </center>

        </div>
        <div class="item">
            <center>
                <img src="~/Img/uttt-git.jpg" width="400" height="500" />
                
            </center>
        </div>
    </div>

</div>


